.mainListItem {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.search {
  display: flex;
  flex-direction: column;
}

.searchInput {
  font-size: medium;
  border: 1px solid gray;
}
